<h1>All Rated Beers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewery</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.brewery %></td>
        <td>Rating: <%= beer.number_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Beer', new_beer_path %>
